.main{width:1007px; margin:0 auto;}
.header{width:1007px; height:30px; background:#f1f1f1;  }
.header-l{width:334px; height:30px; padding-top:8px;}
.last{border:none; background:#f1f1f1;}
.song{font-size:14px;  margin-left:18px; }
.niho{font-size:14px; color:#666; font-weight:bold; margin-right:13px;}
.niho a{font-size:12px; color:#c81623; padding-left:7px; padding-top:2px; font-weight:normal;}
.header-r{width:665px; height:30px; position:relative;}
.header-r li{float:left;}
.header-r li a{font-size:12px; color:#666; line-height:30px; padding:0 10px 0 10px; border-right:1px solid #ccc;}
.header-r li .pa27{ padding:0 27px 0 27px;}
.header-r li .pa30{padding:0 30px 0 10px; }
.header-r li .last{border-right:none;}
.img-1{width:9px; height:4px; display:block; background:url(../img/119.png) no-repeat; position:absolute; left:137px; top:12px;}
.img-2{width:9px; height:4px; display:block; background:url(../img/119.png) no-repeat; position:absolute; left:378px; top:12px;}
.img-3{width:9px; height:4px; display:block; background:url(../img/119.png) no-repeat; position:absolute; right:192px; top:12px;}
.img-4{width:9px; height:4px; display:block; background:url(../img/119.png) no-repeat; position:absolute; right:104px; top:12px;}
.img-5{width:9px; height:4px; display:block; background:url(../img/119.png) no-repeat; position:absolute; right:18px; top:12px;}
.img-6{width:11px; height:16px; display:block; background:url(../img/120.png) no-repeat; position:absolute; right:348px; top:7px;}
.bar{width:1007px; height:80px; background:url(../img/2.png) no-repeat;}
.logo-lan{width:1007px; height:144px;}
.logo{width:279px; height:100px;}
.logo a{width:279px; height:100px; display:block; background:url(../img/logo2.png) no-repeat; text-indent:-999em;}
.logo-lan-r{width:636px; height:76px; margin-top:24px;}
.sousuo{width:636px; height:36px;}
.s-left{width:460px; height:36px}
.s-l-l{width:371px; height:32px; border:2px solid #b61d1d; border-right:none; padding-left:5px;}
.s-l-r{width:82px; height:36px; display:block; background:#b61d1d; font-size:14px; color:#fff; text-align:center; line-height:36px;}
.s-right{width:139px; height:34px;  border:1px solid #dfdfdf; font-size:12px; color:#666; text-align:center; line-height:34px; background:url(../img/117.png) no-repeat 19px 10px #f9f9f9; position:relative;}
.s-right i{width:6px; height:9px;background:url(../img/118.png) no-repeat; position:absolute; top:13px; right:11px;  }
.list{width:636px; height:30px; margin-top:8px;}
.list li a{font-size:12px; color:#666; padding-right:11px;}
.list li .red{color:#c81623;}

